<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= campgroundType.title %></title>
  </head>
  <body>
    <h1>Here is some information about your campground</h1>
    <ul>
      <li>Title: <%= campgroundType.title %></li>
      <li>Location: <%= campgroundType.location %></li>
    </ul>
  </body>
</html>
