<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Campground</title>
  </head>
  <body>
    <h1>Create Your Campground</h1>
    <form action="/campgrounds" method="POST">
      <label for="title">Enter Title</label>
      <input type="text" id="title" name="title" />

      <label for="location">Enter Location</label>
      <input type="text" id="location" name="location" />

      <button type="submit">Create Campground</button>
    </form>
  </body>
</html>
