<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/styles.css" />
<h1>Welcome to Lunaregy</h1>

<p>View All Campgrounds</p>
<a class="btn btn-primary" href="campgrounds" role="button">View All</a>

<!-- Creates a background image -->
<style>
  body {
    background-image: url("<%= pic %>");
  }
</style>
