<% layout('layouts/boilerplate') -%>
<h1>Create Your Campground</h1>
<form action="/campgrounds" method="POST">
  <label for="title">Enter Title</label>
  <input type="text" id="title" name="title" />

  <label for="location">Enter Location</label>
  <input type="text" id="location" name="location" />

  <button type="submit">Create Campground</button>
</form>
