<% layout('layouts/boilerplate') -%>

<h1>Edit Campground</h1>

<form action="/campgrounds/<%= campgroundType._id %>?_method=PUT" method="POST">
  <label for="title">Current Title: </label>
  <input
    type="text"
    id="title"
    name="title"
    value="<%= campgroundType.title %>"
  />

  <label for="locations">Current Location:</label>
  <input
    type="text"
    name="location"
    id="location"
    value="<%= campgroundType.location %>"
  />
  <input class="btn btn-dark m-1" type="submit" value="Edit Campground" />

  <a
    class="btn btn-dark m-1"
    href="/campgrounds/<%= campgroundType._id %>"
    role="button"
    >Cancel</a
  >
</form>
