<% layout('layouts/boilerplate') -%>
<h1>Campground:</h1>
<ul>
  <li>Title: <%= campgroundType.title %></li>
  <li>Location: <%= campgroundType.location %></li>
</ul>

<a class="btn btn-dark m-1" href="/campgrounds/<%= campgroundType._id %>/EDIT"
  >Edit</a
>

<form
  action="/campgrounds/<%= campgroundType._id %>?_method=DELETE"
  method="POST"
>
  <button type="submit" class="btn btn-dark m-1">Delete</button>
</form>

<a class="btn btn-dark m-1" href="/campgrounds" role="button">Return To All Campgrounds</a>
