<% layout('layouts/boilerplate') -%>
<h1>Here is some information about your campground</h1>
<ul>
  <li>Title: <%= campgroundType.title %></li>
  <li>Location: <%= campgroundType.location %></li>
</ul>

<a class="btn btn-dark" href="/campgrounds/<%= campgroundType._id %>/EDIT"
  >EDIT CAMPGROUND</a
>

<form
  action="/campgrounds/<%= campgroundType._id %>?_method=DELETE"
  method="POST"
>
  <button type="submit" class="btn btn-dark">DELETE CAMPGROUND</button>
</form>

<a class="btn btn-dark" href="/campgrounds" role="button">GO BACK</a>
